@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
$permanent-marker-font: "Permanent Marker", cursive;
$pen-font: "Caveat", cursive;
$tape-label: #a99981;
body {
  background-image: url("https://mintyfresh.me/mixtape/images/wood-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.permanent-marker {
  font-family: "Permanent Marker", cursive;
}
.tape-recorder {
  position: relative;
  width: 48vh;
  height: 80vh;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-top: 10vh;
  margin-left: 10vh;
}
.tape-recorder-image {
  position: absolute;
  height: 80vh;
  left: 10vh;
  top: 10vh;
}
.tape-video {
  position: absolute;
  z-index: 3;
  height: 19.5vh;
  left: 19.8vh;
  top: 49.25vh;
  visibility: visible;
}
.tape-video-alt {
  position: absolute;
  z-index: 3;
  height: 19.5vh;
  left: 19.8vh;
  top: 49.25vh;
  visibility: hidden;
}
.tape-name {
  position: absolute;
  z-index: 5;
  left: 22vh;
  top: 52.4vh;
  width: 24.4vh;
  height: 3vh;
  background-color: #a99981;
  color: #1a1714;
  text-align: center;
  font-size: 2vh;
  font-family: $permanent-marker-font;
  border: none;
}
.tape-name::placeholder {
  color: #1a1714;
  opacity: 1;
}
.tape-name:enabled {
  outline: none;
}
.tape-recorder-button {
  padding: 0;
  width: 5.1vh;
  height: 7.7vh;
  margin-bottom: 2.3vh;
  background-color: transparent;
  border: 0px solid white;
  z-index: 1;
}
.tape-recorder-button-pressed {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.5)
  );
}
.upload-mp3 {
  position: absolute;
  left: 0px;
  top: 0px;
}
#song-player {
  position: absolute;
}
.tutorial {
  background-image: "images/paper.png";
  position: relative;
  display: inline-block;
  left: 10vh;
  bottom: -10vh;
  width: 50vh;
  font-family: $pen-font;
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  h4 {
    margin-top: 15vh;
    margin-left: 2vh;
    font-size: 5vh;
  }
  p {
    margin-left: 3vh;
    margin-right: 10vh;
    font-size: 2vh;
  }
}
@media all and (orientation: landscape) {
  .tutorial {
    bottom: 20vh;
  }
}
